.contain {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}


.contain #contain-fecha {
    font-size: 30px;
    color: rgb(63, 63, 63);
}

.contain #contain-ingreso {
    background-color: rgb(0, 255, 55);
    width: 12rem;
    height:5rem ;
    text-align: center;
}

.contain #contain-salida {
    background-color: rgb(241, 9, 9);
    width: 12rem;
    height:5rem ;
    text-align: center;
}