body {
    background-color: #631f1f;
}

#uno {
    font-size: 200px;  
}

#dos {
    font-size: 8000px;
}

#tre {
    font-size: 250px;
}

#cua {
    font-size: 300px;
}

#cin {
    font-size: 60px;
}

#sei {
    font-size: 211px;
}

#sie {
    font-size: 122px;
}

#och {
    font-size: 90px;
}

#nue {
    font-size: 250px;
}

#die {
    font-size: 600px;
}